.contacts {
    background: url(../../img/41_19_22_web.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100vw;
    bottom: 0;
}
