.header-logo {
    display: flex;
    flex: 2 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.square-logo {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 2rem;
}

.square1,
.square4,
.square2,
.square3 {
    width: 12/16*1rem;
    height: 12/16*1rem;
    margin: 1.5/16*1rem;
}

.square1,
.square4 {
    background-color: #15a4fa;
}

.square2,
.square3 {
    background-color: #2d3950;
}

.square2,
.square4 {
    transform: translateY(3/16*1rem)
}

.strict {
    font-size: 1.875rem;
    font-weight: 700;
}

@media screen and (max-width:680px) {}
